
/* Import The Font From Google Fonts  (Embedded Link) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#heading{
    background-color: gold;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 1px 1px 10px 1px;
    width: 100%;
    height: 120px;

    /* Flex Properties */
    display: flex;
    justify-content: space-between;

    /* Used to position navbar hided behaind the head */
    position: relative;
    z-index: 2;

}

/* Css for Nav bar */

#navbar{
    position: fixed;
    background-color: gold;
    width: 100px;
    height: 420px;

    box-shadow: 1px 2px 10px 0px;
     
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 20px 20px 5px;
    border-radius: 0px 0px 10px;

    /* Move to slightly top without affecting others . Use position Relative */
    position: relative;
    bottom: 10px;

    /* Z-index used to give priority. When 2 element overlap , i chose while one to hide.(Lower value will be hide). */
    z-index: 1;
}

#navbar i{
    font-size: 30px;
}

#navbar a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}
