
/* Import The Font From Google Fonts  (Embedded Link) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#heading{
    background-color: gold;
    border: 2px solid;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 1px 1px 10px 1px;
    width: 100%;
    height: 120px;

    /* Flex Properties */
    display: flex;
    justify-content: space-between;

}

