
/* Import The Font From Google Fonts  (Embedded Link) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#heading{
    background-color: gold;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 1px 1px 10px 1px;
    width: 100%;
    height: 120px;

    /* Flex Properties */
    display: flex;
    justify-content: space-between;

    /* Used to position navbar hided behaind the head */
    position: relative;
    z-index: 2;


    /* Make the position fixed. (Only one position property should be used. So relative won't be work) */
    position: fixed;

}   

/* Css for Nav bar */

#navbar{
    background-color: gold;
    width: 100px;
    height: 520px;

    box-shadow: 1px 2px 10px 0px;
     
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 20px 20px 5px;
    border-radius: 0px 0px 10px;

    /* Move to slightly top without affecting others . Use position Relative */
    position: relative;
    top: 120px;

    /* Z-index used to give priority. When 2 element overlap , i chose while one to hide.(Lower value will be hide). */
    z-index: 1;

    position: fixed;
    
}

#navbar i{
    font-size: 30px;
}

#navbar a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}






/* Videos Css */

.videos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 40px;
    flex-wrap: wrap; /* responsive */

    margin-left: 60px;
}



/* EACH MEDIA CARD */
.card {
    width: 320px;
    background-color: #4d4c4c;
    padding: 15px;
    border-radius: 10px;
    border: 10px solid greenyellow;
}

/* MEDIA SIZE FIX */
.card iframe,
.card video {
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.card audio {
    width: 100%;
    margin-top: 20px;
}



/* Apply Flex */
#main-div{
    display: flex;
}

