body {
    background-color: black;
    background-image: url(https://png.pngtree.com/background/20250207/original/pngtree-soft-pastel-floral-design-light-blue-background-picture-image_16257054.jpg);
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}

h1, h3 {
    color: white;
    text-align: center;
}

h1 {
    -webkit-text-stroke: 1px black;
}

#heading1 {
    background-color: greenyellow;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px red;
}

/* FLEX CONTAINER */
.videos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap; /* responsive */
}

/* EACH MEDIA CARD */
.card {
    width: 320px;
    background-color: #4d4c4c;
    padding: 15px;
    border-radius: 10px;
    border: 10px solid greenyellow;
}

/* MEDIA SIZE FIX */
.card iframe,
.card video {
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.card audio {
    width: 100%;
    margin-top: 20px;
}
