body {
    background-color: black;
    margin: 0;
}

h1, h3 {
    color: white;
    text-align: center;
}

#heading1 {
    background-color: aquamarine;
    padding: 25px;
}

/* FLEX CONTAINER */
.videos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap; /* responsive */
}

/* EACH MEDIA CARD */
.card {
    width: 320px;
    background-color: #4d4c4c;
    padding: 15px;
    border-radius: 10px;
}

/* MEDIA SIZE FIX */
.card iframe,
.card video {
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.card audio {
    width: 100%;
    margin-top: 20px;
}
